<!DOCTYPE html>
<html>
  <head>
    <title>Godsend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>

  <body>
    <div id='content'>REACT IS TAKING OVER</div>

    <%= yield %>
  </body>
</html>