<!DOCTYPE html>
<html>
  <head>
    <title>Godsend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>

  <body>
    <% if logged_in? %>
      <script type='text/javascript'>
        window.currentUser = <%= render('api/users/user.json.jbuilder',
        user: current_user).html_safe %>
        window.stockChartURL = "<%= image_url('feed/stock_chart.jpg') %>"
      </script>
    <% end %>

    <script>
        window.starSignup = "<%= image_url('session_form_signup/star_signup.jpg') %>"
        window.star = "<%= image_url('session_form_signin/star.jpg') %>"
        window.suIcon = "<%= image_url('session_form_signup/su_icon.jpg') %>"
        window.userProfile = "<%= image_url('user_profile/pleiades-33.jpg') %>"
    </script>


    <div id='content'>REACT IS TAKING OVER</div>

    <%= yield %>
  </body>
</html>